.transaction-window {
    display: none;
    text-align: center;
    width: 60%;
}
ul {
    list-style-type: none;
}
li {
    color: rgb(0,188,212);
}

.mdl-grid {
    padding: 0;
}

.mdl-card__left {
    background: url("/assets/images/items/ipad.jpg") center / cover;
    opacity: 0.8;
    padding-top: 125px;
    padding-left: 15px;
    margin-right: -15px;
    max-height: 150px;
}

.mdl-card__left h2 {
    color: #fff;
    opacity: 0.9;
    font-weight: 400;
}

.mdl-card__right {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #D3D3D3;
    margin-left: 15px;
    margin-right: -15px;
    height: 150px;
    padding-top: 10px;
    padding-left: 15px;
}

.mdl-card__right p {
    margin: 0px;
    opacity: 0.5;
    font-size: 12px;
    line-height: 20px;
}

.mdl-card__right h4 {
    margin: 0px;
    opacity: 0.7;
    font-size: 14px;
    line-height: 20px;
}

.add-item {
    margin: 10px;
    float: right;
}

.item-name {
    width: 100%;
    text-shadow: 0px 0px 2px #000;
    background-color: rgba(0,0,0,0.5);
}