.demo-card-wide {
    margin-top: 20px;
    width: 100%;
    background-color: image(saddlebrown);
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.sales-table {
    width: 100%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}

.mdl-card {
    width: 50%;
}

.createsale-link {
    float: right;
    margin-bottom: 20px;
}

.createsale-button {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}