html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.user {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
}

.header {
  background: #FAFAFA;
}

@media only screen and (min-width: 1025px) {
  .mdl-layout-title {
    margin-left: 200px;
  }
}

.layout .header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
.layout .header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}
.layout .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
  margin-top: 15px;
}

.mdl-layout__content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.drawer {
  background-image: url("/assets/images/drawer-background.png");
  background-size: 250px 160px;
  background-repeat: no-repeat;
  border: none;
}

.drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 400;
  padding: 16px;
  height: 160px;
}

.user-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.user-dropdown .material-icons {
  margin-right: 10px;
}

.user-dropdown .user-text {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
  margin-bottom: -10px;
}

.current-sale {
  font-size: 12px;
  font-weight: 300;
  opacity: 0.7;
  margin-left: 5px;
  margin-bottom: -15px;
}

.navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.layout .navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
  margin-left: -20px;
}

.layout .navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}

.navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 15px;
}

.content {
  padding: 50px;
  padding-top: 0px;
}

.mdl-mini-footer {
  height: 0px;
  background: rgba(0, 0, 0, 0.0);
  border-top: solid;
  border-color: #d3d3d3;
  border-width: 1px;
}

.mdl-mini-footer__left-section {
  margin-top: -15px;
  margin-left: 10px;
}

.mdl-mini-footer__right-section {
  margin-top: -18px;
}

.mdl-logo {
  color: #d3d3d3;
}

.mdl-card {
  margin: auto;
  width: auto;
}
.mdl-card__title {
  color: #fff;
  height: 176px;
  background: #03a9f4;
}
.mdl-card__menu {
  color: #fff;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
  font-weight: normal;
}
