.demo-card-wide {
    margin-top: 30px;
    background-color: image(saddlebrown);
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.sales-table {
    height: 20%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.mdl-card {
    width: 100%;
}

.createsale-link {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: -32px;
    left: 50%;
}

.mdl-card__actions {
    margin: 0;
    margin-left: 5px;
    line-height: 0px;
}

.mdl-card__actions p {
    margin: 0px;
    opacity: 0.5;
    font-size: 12px;
    line-height: 20px;
}

.mdl-card__actions h4 {
    margin: 0px;
    opacity: 0.7;
    font-size: 14px;
    line-height: 20px;
}

.create-page {
    height: 274px;
    background: url("/assets/images/add.jpg") center / cover;
}

.createsale-button {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}