.register {
    padding-left: 15px;
    height: 500px;
}

.register h2 {
    font-weight: 500;
    font-size: 24px;
    color: #000;
    margin-top: 10px;
    margin-bottom: -10px;
}

.cart {
    background-color: #fff;
    padding-left: 15px;
    width: 292px;
}

.cart h2 {
    font-weight: 500;
    font-size: 24px;
    color: #000;
    margin-top: 10px;
    margin-bottom: -10px;
}

.cart ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cart li {
    padding: 0;
}

.cart h4 {
    font-size: 14px;
    opacity: 0.9;
    line-height: 16px;
    margin: 0;
}

.cart h5 {
    font-size: 14px;
    opacity: 0.9;
    line-height: 16px;
    margin: 0;
    margin-bottom: 34px;
}

.cart p {
    font-size: 10px;
    opacity: 0.7;
    line-height: 14px;
    margin-top: -20px;
    margin-left: 15px;
}

.confirm-button {
    position: absolute;
    bottom: 36px;
    width: 292px;
    margin-left: -15px;
}

.emailReceipts {
    position: absolute;
    bottom: 65px;
    width: 250px;
}

.total {
    margin-left: 10px;
    position: absolute;
    bottom: 80px;
}

.total h4 {
    font-weight: 600;
}

.value {
    padding-left: 150px;
    font-weight: 600;
}

.textfield {
    width: 200px;
    margin-bottom: -25px;
}

.mdl-card {
    min-height: 100px;
}

.mdl-card__title {
    padding-top: 35px;
    padding-left: 10px;
    background: url('/assets/images/items/ipad.jpg') center / cover;
    height: 100px;
    display: block;
}

.mdl-dialog__title {
    margin-top: -15px;
    font-size: 24px;
}

.mdl-dialog__content {
    padding-top: 5px;
}

.mdl-radio {
    margin-left: 5px;
    margin-right: 5px;
}